<h1>Listing businesses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><%=h business.name %></td>
    <td><%=h business.address %></td>
    <td><%= link_to 'Show', business %></td>
    <td><%= link_to 'Edit', edit_business_path(business) %></td>
    <td><%= link_to 'Destroy', business, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New business', new_business_path %>