<p>
  <b>Name:</b>
  <%=h @business.name %>
</p>

<p>
  <b>Street:</b>
  <%=h @business.street %>
</p>

<p>
  <b>City:</b>
  <%=h @business.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%=h @business.zipcode %>
</p>

<p>
  <b>State:</b>
  <%=h @business.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @business.country %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>